# Analysis of Iris Flowers Dataset using SQLite and Visualization Libraries

The following is an analysis of Iris Flowers Dataset utilzing SQLite and SQL queries for data managemnet and retirval. Additonally includes several plots that were created using Matplotlib and Seaborn.

In [1]:
# Libraries
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
from tabulate import tabulate
import numpy as np
import seaborn as sns
import re

In [2]:
df = pd.read_csv('IrisFlowersDataset.csv')
df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
# Connect
conn = sqlite3.connect('IrisFlowers.db')
df.to_sql('IrisFlowersTable', conn, if_exists='replace', index=False)

150

In [4]:
# Query to get Iris Data Summary
irisDataSummary = pd.read_sql_query('''
    SELECT 
        MIN(Sepal_Length) AS Min_Sepal_Length,
        MAX(Sepal_Length) AS Max_Sepal_Length,
        AVG(Sepal_Length) AS Avg_Sepal_Length,
        (SELECT Sepal_Length
         FROM IrisFlowersTable
         ORDER BY Sepal_Length
         LIMIT 1 OFFSET (SELECT COUNT(*) / 2 FROM IrisFlowersTable)) AS Median_Sepal_Length,
        MIN(Sepal_Width) AS Min_Sepal_Width,
        MAX(Sepal_Width) AS Max_Sepal_Width,
        AVG(Sepal_Width) AS Avg_Sepal_Width,
        (SELECT Sepal_Width
         FROM IrisFlowersTable
         ORDER BY Sepal_Width
         LIMIT 1 OFFSET (SELECT COUNT(*) / 2 FROM IrisFlowersTable)) AS Median_Sepal_Width,
        MIN(Petal_Length) AS Min_Petal_Length,
        MAX(Petal_Length) AS Max_Petal_Length,
        AVG(Petal_Length) AS Avg_Petal_Length,
        (SELECT Petal_Length
         FROM IrisFlowersTable
         ORDER BY Petal_Length
         LIMIT 1 OFFSET (SELECT COUNT(*) / 2 FROM IrisFlowersTable)) AS Median_Petal_Length,
        MIN(Petal_Width) AS Min_Petal_Width,
        MAX(Petal_Width) AS Max_Petal_Width,
        AVG(Petal_Width) AS Avg_Petal_Width,
        (SELECT Petal_Width
         FROM IrisFlowersTable
         ORDER BY Petal_Width
         LIMIT 1 OFFSET (SELECT COUNT(*) / 2 FROM IrisFlowersTable)) AS Median_Petal_Width
    FROM IrisFlowersTable;
''', conn)

   Min_Sepal_Length  Max_Sepal_Length  Avg_Sepal_Length  Median_Sepal_Length  \
0               4.3               7.9          5.843333                  5.8

   Min_Sepal_Width  Max_Sepal_Width  Avg_Sepal_Width  Median_Sepal_Width  \
0              2.0              4.4         3.057333                 3.0

   Min_Petal_Length  Max_Petal_Length  Avg_Petal_Length  Median_Petal_Length  \
0               1.0               6.9             3.758                  4.4

   Min_Petal_Width  Max_Petal_Width  Avg_Petal_Width  Median_Petal_Width
0              0.1              2.5         1.199333                 1.3

In [24]:
# Regex to filter each category
sepalLengthPattern = re.compile(r'.*Sepal_Length$')
sepalWidthPattern = re.compile(r'.*Sepal_Width$')
petalLengthPattern = re.compile(r'.*Petal_Length$')
petalWidthPattern = re.compile(r'.*Petal_Width$')

# Auxiliary Functions
def filterSummary(summary, pattern):
    return summary.filter(regex=pattern, axis=1)

def displayTable(summary, category):
    print(f"\nSummary for {category}:\n")
    summary.columns = ['Min', 'Max', 'Avg', 'Median']
    summary.loc[:, 'Avg'] = summary['Avg'].round(2)
    print(tabulate(summary, headers='keys', tablefmt='pretty', showindex=False))

# Filter Iris Data Summary with regex
sepalLengthSummary = filterSummary(irisDataSummary, sepalLengthPattern)
sepalWidthSummary = filterSummary(irisDataSummary, sepalWidthPattern)
petalLengthSummary = filterSummary(irisDataSummary, petalLengthPattern)
petalWidthSummary = filterSummary(irisDataSummary, petalWidthPattern)

# Display Tables
displayTable(sepalLengthSummary, 'sepal length')
displayTable(sepalWidthSummary, 'sepal width')
displayTable(petalLengthSummary, 'petal length')
displayTable(petalWidthSummary, 'petal width')

Summary for sepal length:

+-----+-----+------+--------+
| Min | Max | Avg  | Median |
+-----+-----+------+--------+
| 4.3 | 7.9 | 5.84 |  5.8   |
+-----+-----+------+--------+

Summary for sepal width:

+-----+-----+------+--------+
| Min | Max | Avg  | Median |
+-----+-----+------+--------+
| 2.0 | 4.4 | 3.06 |  3.0   |
+-----+-----+------+--------+

Summary for petal length:

+-----+-----+------+--------+
| Min | Max | Avg  | Median |
+-----+-----+------+--------+
| 1.0 | 6.9 | 3.76 |  4.4   |
+-----+-----+------+--------+

Summary for petal width:

+-----+-----+-----+--------+
| Min | Max | Avg | Median |
+-----+-----+-----+--------+
| 0.1 | 2.5 | 1.2 |  1.3   |
+-----+-----+-----+--------+

In [16]:
setosa = pd.read_sql_query("SELECT * FROM IrisFlowersTable WHERE Variety LIKE '%Setosa%'", conn)
print("Setosa Description\n")
print(setosa.describe())

Setosa Description

       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

In [ ]:
versicolor = pd.read_sql_query("SELECT * FROM IrisFlowersTable WHERE Variety LIKE '%Versicolor%'", conn)
print("Versicolor Description\n")
print(versicolor.describe())

In [ ]:
virginica = pd.read_sql_query("SELECT * FROM IrisFlowersTable WHERE Variety LIKE '%Virginica%'", conn)
print("Virginica Description\n")
print(virginica.describe())

In [ ]:
sepalComparison = pd.read_sql_query('''
    SELECT Variety, AVG(Sepal_Length) AS Avg_Sepal_Length, AVG(Sepal_Width) AS Avg_Sepal_Width
    FROM IrisFlowersTable
    GROUP BY Variety;
''', conn)

In [ ]:
#Avaerage Sepal Length and Width By Variety Plot
varieties = sepalComparison['Variety']
avg_sepal_length = sepalComparison['Avg_Sepal_Length']
avg_sepal_width = sepalComparison['Avg_Sepal_Width']
plt.figure(figsize=(8, 6))
plt.bar(varieties, avg_sepal_length, label='Avg Sepal Length')
plt.bar(varieties, avg_sepal_width, label='Avg Sepal Width', alpha=0.5)
plt.xlabel('Variety')
plt.ylabel('Average Measurement in Centimeters (cm)')
plt.title('Average Sepal Length and Width by Variety')
plt.legend()
plt.xticks(rotation=45)  
plt.tight_layout()

In [ ]:
petalComparison = pd.read_sql_query('''
    SELECT Variety, AVG(Petal_Length) AS Avg_Petal_Length, AVG(Petal_Width) AS Avg_Petal_Width
    FROM IrisFlowersTable
    GROUP BY Variety;
''', conn)

In [ ]:
#Avaerage Sepal Length and Width By Variety Plot
varieties = petalComparison['Variety']
avg_petal_length = petalComparison['Avg_Petal_Length']
avg_petal_width = petalComparison['Avg_Petal_Width']
plt.figure(figsize=(8, 6))
plt.bar(varieties, avg_petal_length, label='Avg Petal Length')
plt.bar(varieties, avg_petal_width, label='Avg Petal Width', alpha=0.5)
plt.xlabel('Variety')
plt.ylabel('Average Measurement in Centimeters (cm)')
plt.title('Average Petal Length and Width by Variety')
plt.legend()
plt.xticks(rotation=45)  
plt.tight_layout()

In [ ]:
#Heat Map
heatMapCols = df.iloc[:, :-1]
corr = heatMapCols.corr()
sns.heatmap(corr, annot=True)
plt.title('Correlation Heatmap')
plt.show()

In [ ]:
#Pair Plots for Iris Varieties
plt.figure(figsize=(10, 10))
sns.pairplot(df, hue='Variety', aspect=1)
plt.suptitle("Pair Plots for Iris Varieties")
plt.show()